cycler==0.10.0
Cython==0.29.14
kiwisolver==1.1.0
llvmlite==0.31.0
matplotlib==3.1.2
numba==0.47.0
numpy==1.18.1
pyparsing==2.4.6
python-dateutil==2.8.1
qpsolvers==1.0.7
quadprog==0.1.7
scipy==1.4.1
six==1.13.0
scikit-learn==0.22.1
